<div  class="post">
    <h3 class="button"></h3>
    <div class="Class1">
        <p></p>
        <div>
            <p>write a comment</p>
            <form>
                <textarea rows="5" cols="50"></textarea>
                <input type="submit" value="Submit"> 
            </form>
        </div>
        <footer>
            
            footer in section
        </footer>
    </div>
</div>