/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31/03/2014, 23:34:07
    Author     : Eyal
*/

* {
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body{
    //background-color: #e9eaee;
    width : 100%;
    height: 100%;
    margin: auto;
    background-color: #999999;
    min-width: 580px;
    
}
header{
    background:url("../pics/block2.jpg") repeat-x top left;
    height:200px;
    padding-top:10px;
    width: max-content;
}
.contain{
    margin: 20px;
    padding-bottom: 100px;
}
.asid{
    //margin: auto;
    display : inline-block;
    width: 200px;
    background-color: #3b5997;
    //margin: auto;
    //float:left;
    clear: both;
    float: left;
    border:1px solid #000000;
    text-align: center;
    margin-right: 10px;
    font-size: 16px;
    color: #fff;
    //height: 400px;
}
.asid p{
    font-size: 20px;
    
}
.asid li{
    list-style-type:none;
    color: #555;
}
#users{
    background-color: #e9eaee;
}
.section{
    // height: 400px;
    // width: 80%;
    margin-left: 60px;
    display : inline-block;
    clear: both;
    height: 100%;
    padding-bottom: 4.5em;
    //float:right;
    width:calc(50%); 
    // min-width: 390px;
    
}
.Class1{
    display: none;  
    //position: relative;
    //display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    //background-color: #e9eaee;
    border: 1px solid #dddddd;
    
}
.userMsg{
    background-color: #ffffff;
}
.Class2{
    //display: none;  
    //position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    //background-color: #e9eaee;
    border: 1px solid #dddddd;
}
.comment{
    background-color: #e9eaee;
    padding: 5px;
}
.commentBox{
    margin-bottom: 5px;
    background-color: #f2f2f2;
    padding: 5px;
    //width: 100%;
}
.commentBox textarea{
    width: 90%;
}

h3{
    z-index: 2;
    color: #ffffff;
    background-color: #3b5997;
    border-color: #2fa4e7;
    font-size: 26px;
    font-weight: bold;
    text-align: left;
    //margin: 2px;
    //width:400px;
}  
h3 span{
    font-size: 14px;
    font-weight: lighter;
    color: #ccc;
}
h3:hover{
    //letter-spacing:1px;
    background-color: #fff;
    color: #3b5997;
}
.commenter{
    font-size: 22px;
    font-weight: bold;
}
h4 {
    font-size: 16px;
    font-weight: normal;
}
.date{
    font-size: 12px;
    font-weight: lighter;
}
footer {
    background-color:#212121;
    clear: both;
    height: 35px;
    font-size: 16px;
    color: #999999;
    //margin: 100px;
    
}

footer a{
    color: #999999;
}

footer a:hover{
    letter-spacing:1px;
    color:#4ac;
}

#formReg{
    display: block;
    text-align: left;
    font-size: 20px;
    width: 40%;
    margin: auto;
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
}
#formReg input[type="text"]{
    width: 40%;
    height: 30px;
    -webkit-border-radius:6px;
    
}
#formReg input[type="password"]{
    width: 40%;
    height: 30px;
    -webkit-border-radius:6px;
}
#formReg input[type="file"]{
    width: 40%;
    height: 30px;
    -webkit-border-radius:6px;
    border: #999999 solid thin;
}
.errMsg{
    color: red;
    //float: right;
    font-size: 16px;
}
.tagName{
    //width: 150px;
}

.loginContainer{
    margin-bottom: 255px; 
}



.blueButton {
    -moz-box-shadow:inset 0px 7px 30px -31px #97c4fe;
    -webkit-box-shadow:inset 0px 7px 30px -31px #97c4fe;
    box-shadow:inset 0px 7px 30px -31px #97c4fe;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
    background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
    background-color:#3d94f6;
    -webkit-border-top-left-radius:24px;
    -moz-border-radius-topleft:24px;
    border-top-left-radius:24px;
    -webkit-border-top-right-radius:24px;
    -moz-border-radius-topright:24px;
    border-top-right-radius:24px;
    -webkit-border-bottom-right-radius:24px;
    -moz-border-radius-bottomright:24px;
    border-bottom-right-radius:24px;
    -webkit-border-bottom-left-radius:24px;
    -moz-border-radius-bottomleft:24px;
    border-bottom-left-radius:24px;
    text-indent:0px;
    border:3px solid #337fed;
    display:inline-block;
    color:#ffffff;
    font-family:Verdana;
    font-size:24px;
    font-weight:bold;
    font-style:normal;
    height:60px;
    line-height:60px;
    width:290px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px -3px 0px #1570cd;
    margin-bottom: 5px;
    
}
.blueButton:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6) );
    background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
    background-color:#1e62d0;
}
.blueButton:active {
    position:relative;
    top:1px;
}
.buttonGroup{
    display: block;
    width: 20%;
    margin: auto;
}
