/*!
 * Bootswatch v3.1.1+1
 * Homepage: http://bootswatch.com
 * Copyright 2012-2014 Thomas Park
 * Licensed under MIT
 * Based on Bootstrap
*/
/*! normalize.css v3.0.0 | MIT License | git.io/normalize */

//==========================================================================
* {
	margin: 0;
	padding: 0;
    }
    html{
        height: 100%;
    }
    body{
      
      width : 100%;
      height: 100%;
      margin: auto;
      background-color: #999999;
      min-width: 580px;
      
  }
    header{
      background:url("../pics/block2.jpg") repeat-x top left;
      height:200px;
      padding-top:10px;
      width: max-content;
  }
  header .userMenu{
      color: #ffffff;
      float: right;
      font-size: 20px;
      display: inline-block;
      clear: both;
  }
.arrow-down {
        float: right;
	width: 0; 
	height: 0; 
        margin: -10px 55px 0 0;
        display: inline-block;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #eee;
}
//---------------------User-Menu-style--------------------------
.example {
    
    height:570px;
    border:1px #000 solid;
    margin:20px auto;
    padding:15px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}


/* main menu styles */
#nav {
    display:inline-block;
    width:99%;
    margin:0px auto;
    padding:0;

    border-radius:10px; /*some css3*/
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    box-shadow:0 2px 2px rgba(0,0,0, .5);
    -moz-box-shadow:0 2px 2px rgba(0,0,0, .5);
    -webkit-box-shadow:0 2px 2px rgba(0,0,0, .5);
}
#nav li {
    margin:10px;
    float:left;
    position:relative;
    list-style:none;
}
#nav a {
    font-weight:bold;
    color:#e7e5e5;
    text-decoration:none;
    display:block;
    padding:8px 20px;

    border-radius:10px; /*some css3*/
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    text-shadow:0 2px 2px rgba(0,0,0, .7);
}

/* selected menu element */
#nav .current a, #nav li:hover > a {
    color:#000;
    border-top:1px solid #f8f8f8;

    box-shadow:0 2px 2px rgba(0,0,0, .7); /*some css3*/
    -moz-box-shadow:0 2px 2px rgba(0,0,0, .7);
    -webkit-box-shadow:0 2px 2px rgba(0,0,0, .7);
    text-shadow:0 2px 2px rgba(255,255,255, 0.7);
}

/* sublevels */
#nav ul li:hover a, #nav li:hover li a {
    background:none;
    border:none;
    color:#000;
}
#nav ul li a:hover {
    background-color: #eee;
    color:#fff;

    border-radius:10px; /*some css3*/
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    text-shadow:0 2px 2px rgba(0,0,0, 0.7);
}

#nav ul li:first-child > a {
    -moz-border-radius-topleft:10px; /*some css3*/
    -moz-border-radius-topright:10px;
    -webkit-border-top-left-radius:10px;
    -webkit-border-top-right-radius:10px;
}
#nav ul li:last-child > a {
    -moz-border-radius-bottomleft:10px; /*some css3*/
    -moz-border-radius-bottomright:10px;
    -webkit-border-bottom-left-radius:10px;
    -webkit-border-bottom-right-radius:10px;
}

/* drop down */
#nav li:hover > ul {
    opacity:1;
    visibility:visible;
}
#nav ul {
    opacity:0;
    visibility:hidden;
    padding:0;
    width:175px;
    position:absolute;
    background-color: #aabbcc;
    border:1px solid #7788aa;

    border-radius:10px; /*some css3*/
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    box-shadow:0 2px 2px rgba(0,0,0, .5);
    -moz-box-shadow:0 2px 2px rgba(0,0,0, .5);
    -webkit-box-shadow:0 2px 2px rgba(0,0,0, .5);

    -moz-transition:opacity .25s linear, visibility .1s linear .1s;
    -webkit-transition:opacity .25s linear, visibility .1s linear .1s;
    -o-transition:opacity .25s linear, visibility .1s linear .1s;
    transition:opacity .25s linear, visibility .1s linear .1s;
}
#nav ul li {
    float:none;
    margin:0;
}
#nav ul a {
    font-weight:normal;
    text-shadow:0 2px 2px rgba(255,255,255, 0.7);
}
#nav ul ul {
    left:160px;
    top:0px;
}
.barak{
    font-size: 24px;
}




//--------------------------------------------------------------
  .contain{
      //margin: 20px;
      //padding-bottom: 100px;
  }
  .asid{
      display : inline-block;
      width: 200px;
      background-color: #3b5997;
      clear: both;
      float: left;
      border:1px solid #000000;
      text-align: center;
      margin:0 10px 0 25px;
      font-size: 16px;
      color: #fff;
  }
  .asid p{
      font-size: 24px;
      
  }
  .asid li{
      list-style-type:none;
      color: #555;
      margin-top: 5px;
  }
  .asid ul{
      padding: 20px;
  }
  #users{
      background-color: #e9eaee;
  }
  .section{
     background-color: #e9eaee;
      margin:0 0 150px 50px;
      display : inline-block;
      clear: both;
      height: 100%;
      width:calc(50%); 
      
  }
.Class1{
  display: none;  
  padding: 10px 15px;
  margin-bottom: -1px;
  border: 1px solid #dddddd;
  
}
.userMsg{
    background-color: #ffffff;
}
.Class2{
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  border: 1px solid #dddddd;
}
.comment{
    background-color: #e9eaee;
    width: 100%;
    
}
.commentList{
    background-color: #fff;
}
.commentBox{
    margin-bottom: 5px;
    background-color: #f2f2f2;
    width: 100%;
}
.commentBox textarea{
    width: 90%;
}

  h3{
  color: #ffffff;
  background-color: #3b5997;
  font-size: 26px;
  font-weight: bold;
  text-align: left;
  height: 45px;
  padding: 10px;
  margin: 2px 5px 1px 5px;
  }  
  h3 span{
      font-size: 14px;
      font-weight: lighter;
      color: #ccc;
  }
  h3:hover{
      background-color: #fff;
      color: #3b5997;
  }
  h3 .arrow-down{
      margin: 0;
  }
  .commenter{
      font-size: 22px;
      font-weight: bold;
  }
  h4 {
      font-size: 16px;
      font-weight: normal;
      margin-top: 3px;
  }
  .date{
      font-size: 12px;
      font-weight: lighter;
  }
 footer {
    background-color:#212121;
    clear: both;
 
  	}
	
footer a{
	color:#4ac;
	}
		
footer a:hover{
	letter-spacing:1px;
	}

.panel {
    background-color: #ffffff;
    
}
